@font-face {
font-family: 'Gotham Pro Light';
src: url('../fonts/GothamPro-Light.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Gotham Pro Medium';
src: url('../fonts/GothamPro-Medium.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Gotham Pro';
src: url('../fonts/GothamPro.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/*
Different browsers set different default CSS rules
So called "user agent stylesheet"
I always reset/normalise my CSS before every project
*/


/* 
Звездочка выбирает все элементы DOM дерева
Псевдоэлементы :: позволяют изменять часть элемента

Например, вот так можно добавить стрелки после ссылок
a::after {
  content: "→";
}
Получается, мы для всех вообще элементов устанавливаем свойство box-sizing
*/
*, *:after, *:before {
  box-sizing: border-box;
}


body {
  background-color: #292929;
  color: #ffffff;
  font-family: 'Gotham Pro', sans-serif;
  font-size: 12px;
  margin: 0;
}

/* .header */
.header {
  padding-top: 50px;
}

.header-description {
  font-family: 'Gotham Pro Light';
  letter-spacing: 0.12px;
}

.text-color-red {
  color: #ff3469;
  font-family: 'Gotham Pro Medium';
}

.header-phone {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  text-align: right;
  font-weight: 500;
  display: block;
}

.header-info {
  font-size: 12px;
  font-weight: 400;
  /* отступ от предыдущего блока сверху */
  margin-top: 7px;
  text-align: right;
  display: block;
}

.header-callback {
  color: #ff3469;
  text-align: right;
  display: block;
  margin-top: 16px;
  font-size: 16px;
}
/* ./header */


/* .hero */
.hero {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 80px;
  border-bottom: 1px solid #4c4c4c;
}

.hero-title {
  font-size: 34px;
  margin-bottom: 34px;
  letter-spacing: 0.5px;
  font-family: 'Gotham Pro Medium';
  text-transform: uppercase;
}

.hero-description {
  font-size: 18px;
  font-family: 'Gotham Pro Light';
  text-transform: uppercase;
  line-height: 1.4;
}

.flowers-slider {
  width: 100%;
  margin-top: 87px;
  margin-bottom: 83px;
}

:root {
    --swiper-navigation-size: 18px;
}

.hero-cta {
  display: block;
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 36px;
  font-family: 'Gotham Pro Light';
}

.button {
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff2e55;
  padding-top: 30px;
  padding-bottom: 26px;
  padding-right: 65px;
  padding-left: 65px;
  margin-top: 36px;
}
/* ./hero */
