@font-face {
font-family: 'Gotham Pro Light';
src: url('../fonts/GothamPro-Light.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Gotham Pro Medium';
src: url('../fonts/GothamPro-Medium.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Gotham Pro';
src: url('../fonts/GothamPro.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/*
Different browsers set different default CSS rules
So called "user agent stylesheet"
I always reset/normalise my CSS before every project
*/


/* 
Звездочка выбирает все элементы DOM дерева
Псевдоэлементы :: позволяют изменять часть элемента

Например, вот так можно добавить стрелки после ссылок
a::after {
  content: "→";
}
Получается, мы для всех вообще элементов устанавливаем свойство box-sizing
*/
*, *:after, *:before {
  box-sizing: border-box;
}


body {
  background-color: #292929;
  color: #ffffff;
  font-family: 'Gotham Pro', sans-serif;
  font-size: 12px;
  margin: 0;
}

.section-title {
  font-size: 30px;
  letter-spacing: 0.3px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Gotham Pro Medium';
}

.section-description {
  font-size: 18px;
  letter-spacing: 0.18px;
  text-align: center;
}

.text-color-red {
  color: #ff3469;
  font-family: 'Gotham Pro Medium';
}

/* .header */
.header {
  padding-top: 50px;
}

.header-description {
  font-family: 'Gotham Pro Light';
  letter-spacing: 0.12px;
}

.header-phone {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  text-align: right;
  font-weight: 500;
  display: block;
}

.header-info {
  font-size: 12px;
  font-weight: 400;
  /* отступ от предыдущего блока сверху */
  margin-top: 7px;
  text-align: right;
  display: block;
}

.header-callback {
  color: #ff3469;
  text-align: right;
  display: block;
  margin-top: 16px;
  font-size: 16px;
}
/* ./header */


/* .hero */
.hero {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 80px;
  border-bottom: 1px solid #4c4c4c;
}

.hero-title {
  font-size: 34px;
  margin-bottom: 34px;
  letter-spacing: 0.5px;
  font-family: 'Gotham Pro Medium';
  text-transform: uppercase;
}

.hero-description {
  font-size: 18px;
  font-family: 'Gotham Pro Light';
  text-transform: uppercase;
  line-height: 1.4;
}

.flowers-slider {
  width: 100%;
  margin-top: 87px;
  margin-bottom: 83px;
}

:root {
    --swiper-navigation-size: 18px;
}

.hero-cta {
  display: block;
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 36px;
  font-family: 'Gotham Pro Light';
}

.button {
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff2e55;
  padding-top: 30px;
  padding-bottom: 26px;
  padding-right: 65px;
  padding-left: 65px;
  margin-top: 36px;
  cursor: pointer;
  border: none;
}
/* ./hero */


/* .feedback */
.feedback {
  padding-top: 100px;
  padding-bottom: 50px;
}

.feedback-slider {
  margin-top: 96px;
  width: 100%;
  margin-top: 96px;
}

.feedback-slide {
  padding-left: 60px;
  padding-right: 60px;
}

/* Псевдоэлемент для затемнения фона */
.feedback-image:before {
  content: '';
  /* 100% от родительского блока */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
/* Чтобы подложка не смещала текст */
  position: absolute;
}

.feedback-image > * {
  /* 
  Чтобы подложка не смещала текст
  Все, что есть в этом блоке 
  */
  position: relative;
}

.feedback-image {
  width: 220px;
  height: 220px;
  /* Чтобы картинка не скукоживалась */
  flex-shrink: 0;
  border-radius: 50%;
  /* Скрываем все, что за пределами углов*/
  overflow: hidden;
  font-size: 20px;
  font-family: 'Gotham Pro Light';
  /* 
  Чтобы подложка не смещала текст
  position: absolute; top: 40px; left: 40px; относительно угла окна
  position: relative; top: 40px; left: 40px; относительно предыдущего блока
  position: -webkit-sticky; position: sticky; top: 20px; залипает после движения на 20px сверху
  */
  position: relative;
  /* Отодвигаем текст отзыва */
  margin-right: 50px;
}

.feedback-image-1 {
  background-image: url('../img/flowers-back.jpg');
}

.feedback-name {
  margin-bottom: 7px;
}

.feedback-text {
  font-size: 18px;
  letter-spacing: 0.18;
  line-height: 1.4;
}

.feedback-link {
  color: #f24841;
}
/* .feedback */


/* .advantages */
.advantages {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 100px;
  border-bottom: 1px solid #4c4c4c;
}

.advantages-text {
  margin-top: 31px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.25;
  max-width: 270px;
}

.advantages-wrapper {
  min-height: 85px;
  margin-bottom: 30px;
}
/* .advantages */

/* .goods */
.goods {
  padding-top: 100px;
  padding-bottom: 100px;
}

.goods-card {
  text-align: center;
  border: 3px solid #fff;
  padding: 33px 35px 30px 35px;
  margin-top: 27px;
}

.goods-card-title {
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 24px;
}

.goods-card-label {
  font-size: 14px;
  display: block;
  margin-bottom: 7px;
  margin-top: 20px;
}

.goods-card-color-label {
  width: 20px;
  height: 20px;
  background-color: #fff;
  cursor: pointer;
}

.goods-card-color-input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -9;
}

.goods-card-color-label.white {
  background-color: white;
}

.goods-card-color-label.red {
  background-color: red;
}

.goods-card-color-label.blue {
  background-color: blue;
}

.goods-card-counter-input {
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  background-color: #292929;
  margin-left: 15px;
  margin-right: 15px;
}

.goods-card-counter-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background-color: #292929;
  border: none;
}

.goods-card-button {
  font-size: 14px;
  width: 100%;
  padding: 16px 10px 13px 10px;
}